$primary: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

$primary-active: #3A8EE6;
$success-active: #5DAF34;
$warning-active: #CF9236;
$danger-active: #DD6161;
$info-active: #82848a;
$font-size: 12px;
$border-radius: 4px;

html, body {
  padding: 0;
  margin: 0;
}

.carousel-enter-active, .carousel-leave-active {
  transition: all 0.5s linear;
}

.carousel-enter-active {
  transform: translateX(100%);
}

.carousel-enter-to {
  transform: translateX(0);
}

.carousel-leave-active {
  transform: translateX(0);
}

.carousel-leave-to {
  transform: translateX(-100%);
}

// 反向走动画
.carousel-enter-active.reverse {
  transform: translateX(-100%);
}

.carousel-enter-to.reverse {
  transform: translateX(0);
}

.carousel-leave-active.reverse {
  transform: translateX(0);
}

.carousel-leave-to.reverse {
  transform: translateX(100%);
}