@import "./common/_var.scss";
@import "./mixins/mixins.scss";

$color-list:(
  primary:$primary
  success:$success
  warning:$warning
  danger:$danger 
  info:$info   
);

@include blockquote(button){
  @include status($color-list);
}